* {

}
body {
    background-color: black;
}
#top {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

#objective {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    padding: 1.5rem;
    color: white;
}

#agi-progress {
    display: flex;
    /* transform: scale(.45); */
    justify-content: space-evenly;
}

#score-counter {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: 1.4rem;
}

#letters-to-guess {
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    padding: 3rem;
    color: white;
}

#bottom {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

#submit-btn1, #submit-btn2 {
    border-radius: 8px;
    font-size: 1rem;
}

#letters-already-guessed {
    display: flex;
    color: white;
    padding: 3rem;
    font-size: 1.25rem;
}
